
.fw10{font-weight: 1000 !important;}
.fw8{font-weight: 800 !important;}
.fw7{font-weight: 700 !important;}
.fw6{font-weight: 600 !important;}

.form-control{
  border: unset;
  border-bottom: 3px solid #8dbbfe;
  transition: all .3s linear;
}
.form-control:focus {
  color: #1b1b1b;
  border-color: #8dbbfe;
  box-shadow: unset;
  background-color: #8dbbfe;
}
